<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Author:Nguyen Anh Tu</h2>
      <h4>Etudiant de 4'ieme année de L'INSA</h4>
    </div>
    <img src="https://static.thenounproject.com/png/3968430-200.png" alt="" />
  </div>

  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Main</a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/dashboard/profile"
    >Profile</a
  >

  <mat-divider></mat-divider>
  <h2 matSubheader>Admin</h2>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/dashboard/add-course"
    >Add course</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/dashboard/edit-course"
    >Edit course</a
  >
</mat-nav-list>
