<mat-card-title>
  <strong> course</strong>
</mat-card-title>
<mat-card-content> name:{{ data.name }} </mat-card-content>
<mat-card-content> Desciption:{{ data.desciption }} </mat-card-content>

<mat-card-content> category:{{ data.category }} </mat-card-content>
<mat-card-content> subject:{{ data.subject }} </mat-card-content>
<mat-card-content> time:{{ data.time }} </mat-card-content>
<mat-card-content> numberStudent:{{ data.numberStudent }} </mat-card-content>
<button
  class="mat-focus-indicator mat-raised-button mat-button-base mat-raised"
  (click)="onNoClick()"
>
  Close
</button>
