button {
  padding: 0.5em;
  cursor: pointer;
  margin-bottom: 0.4rem;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  width: auto;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  float: left;
  margin-left: 10px;
  border-radius: 15px;
}
