<mat-card-title>
  <strong>List course</strong>
</mat-card-title>
<section>
  <input
    #query
    placeholder="Search..."
    (keyup)="filter(query.value)"
    type="text"
  />

  <div class="container">
    <div cols="3" rowHeight="3:1" class="container-form">
      <mat-card *ngFor="let item of filteredcourse">
        <mat-card-content> Name of course: {{ item.name }} </mat-card-content>

        <mat-card-content> time:{{ item.time }} </mat-card-content>

        <div class="data-button">
          <button
            mat-raised-button
            color="accent"
            (click)="
              openDialog(
                item.name,
                item.time,
                item.desciption,
                item.category,
                item.subject,
                item.numberStudent
              )
            "
          >
            Get Details
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</section>
