<mat-grid-list cols="3" rowHeight="3:1" *ngFor="let user of profile">
  <div *ngIf="authService.userData.uid == user.id">
    <mat-card *ngIf="!authService.userData.isedit; else elseBlock">
      <mat-card-title> Email: {{ user.email }} </mat-card-title>
      <mat-card-title> First Name: {{ user.firstName }} </mat-card-title>
      <mat-card-title> Last Name: {{ user.lastName }} </mat-card-title>
      <mat-card-title> Nick Name: {{ user.nickName }} </mat-card-title>
      <mat-card-title> Birth Day: {{ user.birthDay }} </mat-card-title>
      <mat-card-title> Gender: {{ user.gender }} </mat-card-title>
      <button
        mat-raised-button
        (click)="Edit_profile(authService.userData)"
        color="accent"
      >
        Edit
      </button>
    </mat-card>
  </div>
  <ng-template #elseBlock>
    <mat-card>
      <mat-card-title> Edit data </mat-card-title>

      <mat-card-content>
        <input type="text" [(ngModel)]="user.edit_firstName" />
      </mat-card-content>

      <mat-card-content>
        <input type="text" [(ngModel)]="user.edit_lastName" />
      </mat-card-content>

      <mat-card-content>
        <input type="text" [(ngModel)]="user.edit_nickName" />
      </mat-card-content>

      <mat-card-content>
        <input type="date" [(ngModel)]="user.edit_birthDay" />
      </mat-card-content>

      <mat-card-content>
        <input type="text" [(ngModel)]="user.edit_gender" />
      </mat-card-content>
    </mat-card>

    <button
      mat-raised-button
      (click)="authService.userData.isedit = false"
      color="accent"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      (click)="Updateprofile(authService.userData)"
      color="accent"
    >
      Update
    </button>
  </ng-template>
</mat-grid-list>
