<mat-grid-list cols="3" rowHeight="3:1" *ngFor="let user of profile">
  <div *ngIf="authService.userData.uid == user.id">
    <mat-card *ngIf="!authService.userData.isedit; else elseBlock">
      <mat-card-title>
        id: <strong>{{ user.id }}</strong>
      </mat-card-title>
      <mat-card-title>
        Email: <strong>{{ user.email }}</strong>
      </mat-card-title>
      <mat-card-title>
        First Name: <strong>{{ user.firstName }}</strong>
      </mat-card-title>
      <mat-card-title>
        Last Name: <strong>{{ user.lastName }}</strong>
      </mat-card-title>
      <mat-card-title>
        Nick Name: <strong>{{ user.nickName }}</strong>
      </mat-card-title>
      <mat-card-title>
        Birth Day: <strong>{{ user.birthDay }}</strong>
      </mat-card-title>
      <mat-card-title>
        Gender: <strong>{{ user.gender }}</strong>
      </mat-card-title>
      <button
        mat-raised-button
        (click)="Edit_profile(authService.userData)"
        color="accent"
      >
        Edit
      </button>
    </mat-card>
  </div>
  <ng-template #elseBlock>
    <mat-card>
      <mat-card-title> Edit data </mat-card-title>

      <mat-card-content>
        <input type="text" [(ngModel)]="authService.userData.edit_firstName" />
      </mat-card-content>

      <mat-card-content>
        <input type="text" [(ngModel)]="authService.userData.edit_lastName" />
      </mat-card-content>

      <mat-card-content>
        <input type="text" [(ngModel)]="authService.userData.edit_nickName" />
      </mat-card-content>

      <mat-card-content>
        <input type="date" [(ngModel)]="authService.userData.edit_birthDay" />
      </mat-card-content>

      <mat-card-content>
        <input type="text" [(ngModel)]="authService.userData.edit_gender" />
      </mat-card-content>
    </mat-card>

    <button
      mat-raised-button
      (click)="authService.userData.isedit = false"
      color="accent"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      (click)="Updateprofile(authService.userData)"
      color="accent"
    >
      Update
    </button>
  </ng-template>
</mat-grid-list>
